<div class="sidebar">

  <div class="logo">
    🤖
    <div>
      <h2>AI Resume</h2>
      <p>Analyzer</p>
    </div>
  </div>

  <nav>

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      🏠 Dashboard
    </a>

    <a
      routerLink="/resume-upload"
      routerLinkActive="active">
      📄 Resume Upload
    </a>

    <a
      routerLink="/job-description"
      routerLinkActive="active">
      📑 Job Description
    </a>

    <a
      routerLink="/ats"
      routerLinkActive="active">
      📊 ATS Score
    </a>

    <a
      routerLink="/interview"
      routerLinkActive="active">
      🎤 Interview
    </a>

    <a
      routerLink="/history"
      routerLinkActive="active">
      🕘 History
    </a>

  </nav>

  <div class="status-card">

    <div class="status-dot"></div>

    <div>
      <h4>System Online</h4>
      <span>All AI services running</span>
    </div>

  </div>

  <div class="profile">

    <div class="avatar">
      Y
    </div>

    <div>
      <strong>Yash Uke</strong>
      <small>Java Full Stack</small>
    </div>

  </div>

</div>