/* You can add global styles to this file, and also import other style files */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Body */
html,
body{
    width:100%;
    height:100%;
    font-family:'Inter',sans-serif;
    background:#F5F7FB;
}

body{
    overflow:hidden;
}

a{
    text-decoration:none;
}

button{
    font-family:inherit;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#CBD5E1;
    border-radius:20px;
}